services:
  front-moggzila:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "36666:36666"
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    env_file:
      - .env